body, html {
	background-color: #f5f4f4;
}

/*Select*/

.myButton{
	background-color: rgba(0,0,0,0);
	color: rgb(44, 62, 80);
	border: 2px solid rgb(220, 228, 236);
	outline: none;
}

.myButton[aria-expanded="true"]{
	background-color: rgba(0,0,0,0);
	color: rgb(44, 62, 80);
	border: 2px solid rgb(44, 62, 80);
	outline: none;
}

.myButton:hover{
	background-color: rgba(0,0,0,0);
	color: rgb(44, 62, 80);
}

.myButton:active{
	background-color: rgba(0,0,0,0);
	color: rgb(44, 62, 80);
	border: 2px solid rgb(44, 62, 80);
	outline: none;
}

.myButton:focus{
	background-color: rgba(0,0,0,0);
	color: rgb(44, 62, 80);
	border: 2px solid rgb(44, 62, 80);
	outline: none;
}




/*Select2*/

.select2-selection__choice{
	border-color: rgb(24, 188, 156) !important;
	background-color: rgb(24, 188, 156) !important;
	color: white !important;
} 

.select2-selection__choice__remove{
	color: white !important;
}

/*Bootstrap*/

.label {
    margin-left: 5px; 
}

/*NAVS*/

.nav-tabs > li > a{
	color: black;
}


.nav-tabs > li.active > a{
	background-color: rgb(24, 188, 156);
	color: white;
}

.nav-tabs > li.active > a:hover{
	background-color: rgb(24, 188, 156);
	color: white;
}

.nav-tabs > li.active > a:focus{
	background-color: rgb(24, 188, 156);
	color: white;
}

/*Modal*/
/*#taskmodal .modal-dialog  {
	width: 70rem;
}*/

/*CheckBox*/
.material-switch {
    padding-top: 1.2rem;
}
.material-switch > input[type="checkbox"] {
    display: none;   
	
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/*MyCSS*/
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.list-group-item-nopadding{
  padding: 0px;
}
.card-nomargin{
  margin-bottom: 0px;
}

.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 2px solid #c8c8c8;
    border-radius: .5rem;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
#timelineContainer{

}

.well .bs-component{
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

#visualization{
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

#marginRow{
	margin-bottom: 4rem;
}

.card_meetings_list {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border: 2px solid #c8c8c8;  
	min-height: 38rem;
	max-height: 38rem;
	overflow: hidden;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.navi{
    max-height: 300px;
    overflow:hidden !important;
}
.chat{
    max-height: 30rem;
    overflow:hidden !important;
}
.list-group-my{
  margin-bottom: 0px;
  word-wrap:break-word;
   white-space: normal;
}
.thumbnail-my{
  margin-bottom: 0px;
}
.noresize {
  resize: none; 
}
.textarea-addon{
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 4px !important;
  border:1px solid #ccc !important;
}
.textarea-for-modal{
  border-top-left-radius:0px !important;
  border-top-right-radius:0px !important;
}
.timeline-menu-button{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-right-radius: 0px; 
  border-bottom-left-radius: 0px; 
}
/*Вертикальный отступ*/
.top-buffer-1 { margin-top:1px; }
.top-buffer-2 { margin-top:7px; }
.top-buffer-3 { margin-top:3px; }
.top-buffer-4 { margin-top:4px; }
.top-buffer-5 { margin-top:5px; }
.top-buffer-10 { margin-top:10px; }
.top-buffer-15 { margin-top:15px; }
.top-buffer-20 { margin-top:20px; }
.top-buffer-30 { margin-top:30px; }
.top-buffer-40 { margin-top:40px; }
.top-buffer-50 { margin-top:50px; }
.top-buffer-60 { margin-top:60px; }
/*Элемент modal по центру экрана*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
/*Timeline*/

.vis-item.vis-background.negative {
	background-color: rgba(24, 188, 156, 0.6);
} 

/*Крестик для удаления*/
.vis-delete{
  right: -4.5px;
  top: -7px;
  color: whitesmoke;
}
.vis-delete-rtl{
  right: -4.5px;
  top: -7px;
  color: whitesmoke;
}
.vis-item-content{
  cursor: default;
}
.vis-timeline {
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius: 4px; 
  border-bottom-left-radius: 4px;
}
/*Любой элемент*/
.vis-item {
  text-align: justify ;
  color: white;
  background-color: lawngreen;
}
/*Выделенный элемент*/
.vis-item.vis-selected{
  color: white;
  background-color: purple;
}
/*Стиль 1 (красный элемент)*/
.vis-item.Style1 {
  text-align: justify ;
  border-radius: 5px;
  color: white;
  background-color: #e74c3c;
  border-color: #ecf0f1;
  opacity: 0.93;
}

/*Выделенный красный элемент*/
.vis-item.vis-selected.Style1{
	color: white;
	background-color: #d62c1a;
}
/*Стиль 2 (жёлтый элемент)*/
.vis-item.Style2 {
  text-align: justify ;
  border-radius: 5px;
  color: white;
  background-color: #f39c12;
  border-color: #ecf0f1;
  opacity: 0.93;
}
/*Выделенный жёлтый элемент*/
.vis-item.vis-selected.Style2{
  color: white;
  background-color: #c87f0a;
}
/*Стиль 3 (синий элемент)*/
.vis-item.Style3 {
  text-align: justify ;
  border-radius: 5px;
  color: white;
  background-color: #3498db;
  border-color: #ecf0f1;
  opacity: 0.93;
}
/*Выделенный синий элемент*/
.vis-item.vis-selected.Style3{
  color: white;
  background-color: #217dbb;
}
/*Стиль 4 (зелёный элемент)*/
.vis-item.Style4 {
  text-align: justify ;
  border-radius: 5px;
  color: white;
  background-color: #18bc9c;
  border-color: #ecf0f1;
  opacity: 0.93;
}
/*Выделенный зелёный элемент*/
.vis-item.vis-selected.Style4{
  color: white;
  background-color: #129178;
}
/*Card image and buttons*/
.profile-userpic img {
	float: none;
	margin: 0 auto;
    width: 10rem;
    height: 10rem;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
/*Hover effect*/
.style_prevu_kit
{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    cursor: default;
}
.style_prevu_kit:hover
{
    box-shadow: 0px 6px 12px rgba(91, 192, 222, 1);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.05);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.05);
    transition: all 200ms ease-in;
    transform: scale(1.05);
}

.style_prevu_kit_static_blue
{
	min-height: 45rem;
    cursor: default;
}
.style_prevu_kit_static_blue:hover
{
transition: box-shadow 0.20s ease-in-out;
    box-shadow: 0px 6px 12px rgba(91, 192, 222, 1);
    box-shadow: 0px 6px 12px rgba(91, 192, 222, 1);
}

.style_prevu_kit_static
{
    cursor: default;
}
.style_prevu_kit_static:hover {
    transition: box-shadow 0.20s ease-in-out;
    box-shadow: 0px 6px 12px rgba(24, 188, 156, 1);
}

/*Notification*/

.notification-userbuttons {
  text-align: right !important;
  margin-top: 10px !important;
}

/*Hovicon*/

.hor-align {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.hovicon {
    display: inline-block;
    font-size: 60px;
    line-height: 112.5px;
    cursor: pointer;
    margin: 20px;
    width: 112.5px;
    height: 112.5px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #95a5a6;
}
.hovicon.small {
    font-size: 20px;
    line-height:45px;
    width:45px;
    height:45px;
    margin:7px;
}
.hovicon.mini {
    font-size: 15px;
    line-height:32px;
    width:30px;
    height:30px;
    margin:7px;
}
.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
 .hovicon.effect-1 {
    background: rgba(24, 188, 156, 0.25);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #18bc9c;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-a:hover {
    background: rgba(24, 188, 156, 1);
    color: #ffffff;
}
.hovicon.effect-1.sub-a:hover i {
    color: #ffffff;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*Radio*/

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 2px solid #D1D3D4;
  font-weight: normal; 
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  color: rgb(44, 62, 80);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 0px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: rgb(44, 62, 80);
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: rgb(44, 62, 80);
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: rgb(44, 62, 80);
  border: 2px solid #18bc9c;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: rgb(44, 62, 80);
  background-color: #ccc;
  border-radius: 0px;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 2px solid #18bc9c;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: rgb(44, 62, 80);
  background-color: #18bc9c;
  border-radius: 0px;
}
